<div class="panel panel-default">
    <div class="panel-heading">Add Customer</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group row">
                    <label class="col-xs-2 control-label">Name</label>
                    <div class="col-xs-6">
                        <input class="form-control" id="cus_name" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-2 control-label">Age</label>
                    <div class="col-xs-6">
                        <input class="form-control" id="cus_age" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-2 control-label">Address</label>
                    <div class="col-xs-6">
                        <input class="form-control" id="cus_address" />
                    </div>
                </div>
            </div>
        </div>
        <button onclick="addCustomer()" class="btn btn-primary">Add</button>
    </div>
</div>


<div class="row" style="padding-top: 50px;">
    <div class="col-xs-12">
        <div class="text-center">
            <p>Show Customer</p>
            <table class="table" id="myTable">
                <!-- head table -->
                <thead>
                    <tr>
                        <td>CustomerID</td>
                        <td>Name</td>
                        <td>Age</td>
                        <td>Address</td>
                    </tr>
                </thead>
                <!-- body dynamic rows -->
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/js/index.js")"></script>
}