<div class="row">
    <div class="col-xs-12">
        <p>Customer</p>
        <table width="600" border="1" id="myTable">
            <!-- head table -->
            <thead>
                <tr>
                    <td>CustomerID</td>
                    <td>Name</td>
                    <td>Age</td>
                    <td>Address</td>
                </tr>
            </thead>
            <!-- body dynamic rows -->
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/js/index.js")"></script>
}