<h2>Book Store</h2>

<p id="testest"></p>
<div class="row" style="padding-top: 20px;">
    <div class="col-xs-12 text-center">
        <table id="table"></table>
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <div class="col-xs-12">
        <button class="btn btn-success" id="buy">Buy</button>
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <div class="col-xs-12 text-center">
        <table id="tableOrder">
            <tfoot>
                <tr>
                    <td class="text-right" colspan="8">
                        <span hidden id="totol_txt">รวม</span>
                    </td>
                    <td class="text-right">
                        <span id="total"></span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <div class="col-xs-12">
        <button class="btn btn-primary" id="saveOrder"onclick="AddOrder()">Save</button>
    </div>
</div>

@Html.Partial("_Modal")
@section scripts{
    <script src="@Url.Content("~/js/index.js")"></script>
}