
@{
    ViewBag.Title = "BookProduct";
}

<h2>BookProduct</h2>
<div class="panel panel-default">
    <div class="panel-heading">Add Book Product</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group row">
                    <label class="col-xs-3 control-label">Name</label>
                    <div class="col-xs-6">
                        <input class="form-control" id="book_product_name" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-3 control-label">Price</label>
                    <div class="col-xs-6">
                        <input class="form-control" id="book_product_price" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-3 control-label">Quantity</label>
                    <div class="col-xs-6">
                        <input class="form-control" id="book_product_qty" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-3 control-label">Product Type</label>
                    <select id="select_product_type" class="col-xs-6 form-control">
                        <option>Default select</option>

                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-xs-3 control-label">Product Category</label>
                    <select id="select_product_cate" class="col-xs-6 form-control">
                        <option>Default select</option>
                    </select>
                </div>                
            </div>
        </div>
        <button onclick="addBookProduct()" class="btn btn-primary">Add</button>
    </div>
</div>
<div class="row" style="padding-top: 50px;">
    <div class="col-xs-12 text-center">
        <h3>Show Book Product</h3>        
        <table id="table"></table>
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <div class="col-xs-12">
        <button class="btn btn-danger" id="remove">Delete</button>
    </div>
</div>
@section scripts{

    <script src="@Url.Content("~/js/BookProduct/BookProduct.js")"></script>

}